@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@media screen and (max-width:400px) {
    .heading{
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Kaisei HarunoUmi', serif;
    }
    .main_container{
        height: 20rem;
        width: 100vw;
        display: flex;
        align-items: center;    
        flex-direction: column;
    }
    .det{
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    #map{
        padding: 0;
        margin: 0;
        height: 350px;
        width: 350;
        border-radius: 10px;
    }
    .Click{
        height: 40px;
        width: 150px;
        border:none;
        border-radius: 10px;
        font-size: 1rem;
        background: #224be9;
        color: #fff;
    }
    
}
.heading{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
}
.main_container{
    height: 20rem;
    width: 100vw;
    display: flex; 
    align-items: center;    
    flex-direction: column;
}
.det{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#map{
    padding: 0;
    margin: 0;
    height: 350px;
    width: 350;
    border-radius: 10px;
}
.Click{
    height: 40px;
    width: 150px;
    border:none;
    border-radius: 10px;
    font-size: 1rem;
    background: #224be9;
    color: #fff;
}
